.hero-section{
    height: 760px;
    display: flex;
    align-items: end;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.hero-premiere {
    display: flex;
    flex-direction: column;
    padding: 6px 10px;
    background: var(--tint-red, rgba(236, 48, 19, 0.1));
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0%;
    color: var(--color-red, rgba(236, 48, 19, 1));
    width: 196px;
    height: 25px;
    opacity: 1;
    border-radius: 999px;
}


.hero-section > div:first-child{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 580px;
    top: 325px;
    left: 67px;
    opacity: 1;
    gap: 15px;
    color: white;
}

.hero-film-info{
    display: flex;
    flex-direction: column;
    gap: 20PX;
    width: 560px;
}

.hero-film-infolist{
    height: 26px;
    display: flex;
    gap: 8px;
}

.hero-film-infolist-essential{
    opacity: 1;
    padding: 6px 12px;
    gap: 4px;
    border-radius: 999px;
    line-height: 100%;
    letter-spacing: 0%;
    font-size: 12px;
    font-weight: 600;
}

.hero-age{
    background: var(--tint-red, rgba(236, 48, 19, 0.1));
    color: var(--color-red, rgba(236, 48, 19, 1));
}

.hero-info{
    color: var(--text-primary, rgba(255, 255, 255, 1));
    background: var(--tint-white, rgba(255, 255, 255, 0.1));
}

.hero-film-desc{
    font-weight: 400;
    font-size: 16PX;
    line-height: 130%;
    letter-spacing: 0%;
}

.hero-film-buttons{
    display: flex;
    gap: 12px;
}

.hero-film-buttons >button {
    border-radius: 999px;
    padding: 13px 22px;
    gap: 4px;
    opacity: 1;
    border: 0px;
    color: white;
}

.hero-film-buttons > button:first-child{
    background: var(--color-red, rgba(236, 48, 19, 1));
}

.hero-film-buttons > button:last-child{
    background: var(--tint-white, rgba(255, 255, 255, 0.1));
}

.hero-carousel{
    display: flex;
    position: absolute;
    top: 664px;
    left: 50%;
    max-width: 1600px;
    transform: translate(-50%);
    gap: 24px;
}

.hero-carousel > div:last-child{
    display: flex;
    gap: 12px;
}

.hero-carousel > div:last-child >  button{
    width: 54px;
    height: 54px;
    border-radius: 999px;
    opacity: 1;
    background: rgba(7, 12, 28, 0.2);
    color: white;
    border: 0;
}

.hero-carousel > div:first-child { 
    display: flex;
    gap: 8px;
    width: 1450px;
    align-items: center;
}

.line { 
    flex: 1;
    height: 3px;
    background: var(--text-primary, rgba(255, 255, 255, 1));
    cursor: pointer;
    border-radius: 999px;
}

.fill { 
    height: 100%;
    width: 0;
    background: var(--color-red, rgba(236, 48, 19, 1));
    border-radius: 999px;
}

.full { 
    width: 100%;
}

.grow { 
    animation: grow 5s linear forwards;
}

@keyframes grow { to { width: 100%; } }